<?xml version="1.0" encoding="UTF-8" ?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
id="WebApp_ID" version="2.5">
<servlet>
	<servlet-name>Ch6_Cookie_Test</servlet-name>
	<servlet-class>com.example.CookieTest</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>Ch6_Cookie_Test</servlet-name>
	<url-pattern>/cookietest.do</url-pattern>
</servlet-mapping> 

<servlet>
	<servlet-name>Ch6_Check_Cookie</servlet-name>
	<servlet-class>com.example.CheckCookie</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>Ch6_Check_Cookie</servlet-name>
	<url-pattern>/checkcookie.do</url-pattern>
</servlet-mapping>

</web-app>