<?xml version="1.0" encoding="UTF-8" ?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
id="WebApp_ID" version="2.5">
<servlet>
	<servlet-name>Ch6 SessionNullTester</servlet-name>
	<servlet-class>com.example.SessionNull</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>Ch6 SessionNullTester</servlet-name>
	<url-pattern>/SNull.do</url-pattern>
</servlet-mapping> 


</web-app>