<?xml version="1.0" encoding="UTF-8" ?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
id="WebApp_ID" version="2.5">
	<servlet>
		<servlet-name>Ch10 TagHandlerWithExpression</servlet-name>
		<jsp-file>/useTag.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>Ch10 TagHandlerWithExpresion</servlet-name>
		<url-pattern>/useTag.jsp</url-pattern>
	</servlet-mapping>
</web-app>