<?xml version="1.0" encoding="UTF-8" ?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
id="WebApp_ID" version="2.5">
<servlet>
	<servlet-name>ProtectContextAttributeState</servlet-name>
	<servlet-class>com.example.ProtectCAS</servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name>ProtectContextAttributeState</servlet-name>
	<url-pattern>/ProtectContext.do</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>ProtectContextAttributeState2</servlet-name>
	<servlet-class>com.example.ProtectCAS2</servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name>ProtectContextAttributeState2</servlet-name>
	<url-pattern>/ProtectContext2.do</url-pattern>
</servlet-mapping>

</web-app>